#-------------------------------------------------------------------------------------------------------------------
# Prettier ignore rules (see also .gitignore, which Prettier respects too)
#-------------------------------------------------------------------------------------------------------------------

# Package manager files
pnpm-lock.yaml
patches/

# Build outputs
dist
coverage
site/

# Prettier reformats code blocks inside Markdown, which affects rendered output
*.md
